@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0b0a0a;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #721ed2;
  color: #fafafa;
}

html,
body {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #6a09d9 #0b0a0a; /* Firefox */
}

body::-webkit-scrollbar {
  width: 1px; /* Width of the scrollbar */
  height: 1px; /* Height of the scrollbar (for horizontal scrollbars) */
}

body::-webkit-scrollbar-track {
  background: #0b0a0a; /* Background color of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
  background-color: #6a09d9; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners of the scrollbar thumb */
  border: 2px solid #0b0a0a; /* Adds space around the thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #721ed2; /* Change the thumb color on hover */
}

body::-webkit-scrollbar-thumb:active {
  background-color: #4a009d; /* Change the thumb color on active (dragging) */
}

#product-list::-webkit-scrollbar {
  display: none;
}

.text-gradient {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(136, 0, 255, 0.866)
  ); /* Replace with your desired gradient colors */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.text-gradient-animation {
  background: linear-gradient(90deg, #3498db, #8e44ad, #1abc9c);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientAnimation 15s ease-in-out infinite;
}

